<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="info_file" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} [${threadid}] ${uppercase:${level}} ${logger:shortName=true} ${message}" />
		<target xsi:type="File" name="error_file" fileName="${basedir}/logs/${shortdate}_error.log" layout="${longdate} [${threadid}] ${uppercase:${level}} ${logger:shortName=true} ${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="debug_file" fileName="${basedir}/logs/${shortdate}_debug.log" layout="${longdate} [${threadid}] ${uppercase:${level}} ${logger:shortName=true} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="debug_file" />
		<logger name="*" minlevel="Info" writeTo="info_file" />
		<logger name="*" minlevel="Error" writeTo="error_file" />
	</rules>
</nlog>